Body{Background-color:#171717;Color:#737373;Font-family:Ubuntu,"Open Sans",sans-serif;Font-size:1.2em;Margin:0;Text-align:center}
A{Color:darkgray;Text-decoration:none}
A:hover,A:active{Text-shadow:0 0 0.5em}
Nav>*{Word-wrap:break-word;Text-transform:uppercase}
Nav H1{Font-weight:normal;Margin:1em auto}
Nav I:after{Content:" "}
Nav A{Border-top:1px solid #242424;Color:orange;Display:block;Letter-spacing:1px;Padding:1em}
Nav A:last-of-type{Border-bottom:1px solid #242424}
Nav A:hover,Nav A:active{Background-color:#242424}
Section{Margin:1em}

@media (orientation:landscape){
Nav{Position:fixed;Width:18%;Z-index:1}
Nav:first-of-type{Top:0;Left:0}
Article{Background-color:#242424;Margin:auto;Min-height:90%;Position:absolute;Width:64%;Top:5%;Left:0;Right:0}
Nav:last-of-type{Bottom:0;Right:0}
Nav:last-of-type H1{Width:80%}
Footer{Position:absolute;Z-index:-1;Bottom:0}
}