@media (orientation:landscape){
Body{Font-size:1.2em;Margin:0}
Nav{Height:100%;Position:fixed;Width:18%}
Nav:first-of-type{Left:0}
Nav I:after{Content:" "}
Nav A{Display:block;Letter-spacing:1px;Padding:1em;Text-transform:uppercase}
Article,Form{Min-height:90%;Position:absolute;Top:5%;Width:64%}
Nav:last-of-type{Right:0}
}



@media (orientation:portrait){
Nav H1 I:after{Content:" "}
Nav A{Display:inline-block;Margin:auto 0.5em}
Nav A I{Font-size:3em}
Nav A I:after{Content:"\A";White-space:pre}
Article,Form{Width:90%}
}



@media{
Body{Font-family:Ubuntu,"Open Sans",sans-serif;Text-align:center}
A{Text-decoration:none}
A:hover,A:active,Button:hover,Button:active{Text-shadow:0 0 0.5em}
Button:hover,Button:active{Box-shadow:0 0 0.5em black}
Body>*>Div,Body>*>P,Body>*>Section{Margin:2em}
Body>*>H1{Font-weight:normal;Margin:1em;Text-transform:uppercase}
Article,Form{Margin:auto;Left:0;Right:0;Z-index:1}
Button{Background-color:#242424;Border:0;Border-radius:0.25em;Color:white;Cursor:pointer;Font-size:1em;Padding:0.5em 2em;Text-transform:uppercase}
Button.Green{Background-color:red}
Button.Red{Background-color:green}
}