Body{Background-color:#FFBF00;Color:#242424;Font-family:Ubuntu,"Open Sans",sans-serif;Margin:0}
A{Color:#242424;Text-decoration:none}
Button{Border:0;Cursor:pointer;Font-size:1em;Margin:1em 0;Padding:0.5em 2em;Text-transform:uppercase}
A:hover,A:active,Button:hover,Button:active{Text-shadow:0 0 0.5em}
Input:not([Type="Radio"]),Textarea{Border:1px solid silver;-moz-border-radius:0.25em;-webkit-border-radius:0.25em;Border-radius:0.25em;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);Box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);Padding:0.5em}
Input:not([Type="Radio"]){Width:18em}
.Znamka{Width:3em !important}
.Kratky{Width:6em !important}
.Pulka{Width:9em !important}
Textarea{Width:98%}
Label:before,Label:after{Content:"\A";White-space:pre}
Input+Label:before{Content:""}

.Tmavooranzovy,.Tmavobily{Background-color:#242424;-moz-border-radius:0.25em;-webkit-border-radius:0.25em;Border-radius:0.25em}
.Tmavooranzovy{Color:#FFBF00}
.Tmavobily{Color:white}
.Belotmavy,.Belokulaty{Background-color:white;Color:#242424}
.Belokulaty{-moz-border-radius:8px;-webkit-border-radius:8px;Border-radius:8px;Height:8px;Margin:0 1em;Padding:0;Width:8px}
.Belotmavy[Name="Zpet[Kam]"]{Position:absolute;Right:82%}
.Tmavooranzovy:hover,.Tmavooranzovy:active,.Tmavobily:hover,.Tmavobily:active{-moz-box-shadow:0 1px 1px #242424;-webkit-box-shadow:0 1px 1px #242424;Box-shadow:0 1px 1px #242424}
.Belotmavy:hover,.Belotmavy:active,.Belokulaty:hover,.Belokulaty:active{-moz-box-shadow:0 1px 1px white;-webkit-box-shadow:0 1px 1px white;Box-shadow:0 1px 1px white}

Header,Footer{Background-color:#FFBF00;Z-index:3}
Nav{Z-index:1}
Fieldset{Background-color:white;Border:0;Margin:0;Margin-top:100%;Padding:1em;Z-index:2}
Fieldset:last-of-type{Margin-bottom:100%}
Table{Text-align:center}
Th{Vertical-align:top}

@media (orientation:landscape){
Header,Footer{Padding-left:18%;Padding-right:18%;Position:absolute;Width:64%}
Header{Padding-bottom:20%;Top:0}
Nav{Position:fixed;Width:18%}
Nav:first-of-type{Text-align:right;Top:0;Left:0}
Form{Padding-left:18%;Padding-right:18%;Width:64%}
Nav:last-of-type{Height:13.5em;Margin:auto;Text-align:left;Top:0;Bottom:25%;Right:0}
Footer{Padding-bottom:100%}
}
