Body{Background-color:#FFBF00;Color:#242424;Font-family:Ubuntu,"Open Sans",sans-serif;Margin:0}
A{Color:#242424;Text-decoration:none}
Button{Background-color:white;Border:0;Color:#242424;Cursor:pointer;Font-size:1em;Margin:1em 0;Padding:0.5em 2em;Text-transform:uppercase}
A:hover,A:active,Button:hover,Button:active{Text-shadow:0 0 0.5em}
Button:hover,Button:active{Box-shadow:0 0 0.5em white}
Input:not([Type="Radio"]),Textarea{Border:1px solid silver;Border-radius:0.25em;Box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);Padding:0.5em}
Input:not([Type="Radio"]){Width:18em}
.Znamka{Width:1em !important}
.Kratky{Width:6em !important}
.Pulka{Width:9em !important}
Textarea{Width:100%}
Label:before,Label:after{Content:"\A";White-space:pre}
Input+Label:before{Content:""}
Nav:last-of-type Button{Border-radius:8px;Height:8px;Margin:0 1em;Padding:0;Width:8px}
Nav:last-of-type Button:hover,Nav:last-of-type Button:active{Background-color:#242424}
Form Button:not([name="Zpet[Kam]"]){Background-color:#242424;Border-radius:0.25em;Color:white}
Form Button:not([name="Zpet[Kam]"]):hover,Form Button:not([name="Zpet[Kam]"]):active{Box-shadow:0 0 0.5em #242424}
Button[name="Zpet[Kam]"]{Position:absolute;Right:100%}
Section{Background-color:white;Margin-bottom:100%;Padding:2em}
Table{Text-align:center}
Th{Vertical-align:top}

@media (orientation:landscape){
Nav{Position:fixed;Text-align:right;Width:18%}
Nav:first-of-type{Top:0;Left:0}
Form{Margin:auto;Position:absolute;Width:64%;Top:5%;Left:0;Right:0}
Nav:last-of-type{Height:13.5em;Margin:auto;Top:0;Bottom:0;Right:0}
Footer{Margin:auto;Position:absolute;Z-index:-1;Left:0;Bottom:0;Right:0}
}